<h2 class="show-question"><%=link_to(h(question.name), question_path(question)) %></h2><br class="clear" />

<div class="question">
  <div class="stats">
    <div class="votes" id="vote-box-<%=question.id %>">
      <%= render :partial => "/questions/vote_box", :locals => {:question => question} %>
    </div>
    <div class="views">
      <%=question.views.humanize %>
      <span class="desc"><%= "View".correctize_plural(question.views) %></span>
    </div>
    <!--><div class="favourite">
      <%#= render :partial => "/questions/favourite", :locals => {:question =>question }%>
    </div>
   -->
</div>
  <div class="body">
    <%= code(question.body_plain) %>
    <span class="user"><%= link_to image_tag(question.user.avatar.url(:thumb), :align => "left", :border => 0), user_path(question.user) %><br />
    <%= link_to question.user.login, user_path(question.user) %> &middot; <%=question.user.reputation%><br /><%= distance_of_time_in_words_to_now question.created_at %> ago
   </span>
   <div class="tags">
     <%question.tags.each do |tag| %>
       <%= link_to(h(tag), :controller => "questions", :action => "index", :tag => tag.name)%>
     <% end -%>
   </div>
   <br class="clear" />
  <% if (current_user && current_user == question.user) %>
    <div class="edit">
      <%= link_to 'Edit Question', edit_question_path(question) if (current_user && current_user == question.user) %>   
    </div>
  <% end -%>
  </div>
  <br class="clear" /> 
  <div class="actions">
    <br class="clear" />
     
   </div>
     <div class="comments" id="Question-comments-<%= question.id %>">
      <%= render(:partial => "/comments/list", :locals => {:comments => question.comments, :parent => question}) %>
    </div>
</div>
<% content_for :sidebar, render(:partial => "/answers/sidebar/default") %>
