<% title link_to h(question.name), question_path(question.id, question.friendly_id)%>

<% content_for :page_header_infobox do %>
  <div class="user"><%=t("questions.asked_by")%>
    <%= link_to image_tag(question.user.avatar.url(:thumb), :align => "left", :border => 0, :class => "thumbnail"), user_path(question.user) unless question.user.avatar.nil?%>
    <%= link_to question.user.login, user_path(question.user) %> (<span class="<%="user-#{question.user.id}-reputation"-%>"><%=question.user.reputation%></span> Points) <%= distance_of_time_in_words_to_now question.created_at %>,
    <%= t "questions.saved_in" %>
  <span class="tags">
     <% question.tags.each do |tag| %>
       <%= link_to(h(tag), questions_path(:tag => tag.name), :class => "btn btn-small")%>
     <% end -%>
 </span>
  <% if can_edit?(@question)%>
    <%= raw(button_to(t("question.edit"),
            url_for(:controller => :questions, :action => :edit, :id => question.id, :friendly_id => question.friendly_id),
            :class => "btn btn-success btn-large")) %>
  <% end -%>
  </div>
<% if question.last_edit.present? %>
  <div class="edit">
    <strong>Last Edit:</strong><span class="body hl">
    <%= question.last_edit.body %></span>
    <br /><span>
    <%= t "datetime.distance", :distance => distance_of_time_in_words_to_now(question.last_edit.created_at) %> 
    by <%= link_to question.last_edit.user.login, user_path(@question.last_edit.user) %>
  </div>
  <% end %>
<% end %>
<div class="question row">

  <div class="stats span1">
    <div class="votes" id="vote-box-<%=question.id %>">
      <%= render "/questions/vote_box", :question => question %>
    </div>
    <div class="views">
      <%=question.views.humanize %>
      <span class="desc"><%=  t("views", :count => question.views) %></span>
    </div>
      <% if user_signed_in? %>
        <div class="<%=question.favourited?(current_user)? "favourite-saved": "favourite"%>" id="favourite-question-<%=question.id%>">
            <br />
            <%= link_to "*", toggle_favourite_path(question.id), :method => "post", :remote => true %>
          </div>
      <% end -%>
</div>
  <div class="body span8">
    <%= raw code(question.body) %>
    <h3 class="comments"><%= t("comment.other").capitalize %></h3>
    <%= render("/comments/list", :comments => question.comments, :parent => question ) %>
    <% if user_signed_in? %>
    <%= link_to(t("comment.new"), new_comment_path(:comment => { :commentable_type => "Question",
                                                                 :commentable_id => question.id}),
                                                                 :remote => true,
                                                                 :class => "btn btn-small btn-success comment-new") %>
    <% else %>
    <%= link_to t("comment.new"), "javascript:;",
                :"data-content" => t("popover.login_msg"),
                :"data-title" => t("popover.login_header"), 
                :class => "btn btn-small btn-success comment-new",
                :rel => "popover" %>
    <% end %>
  </div>
</div><!-- end of row -->
<% content_for :sidebar do %>
  <%= render("/answers/sidebar/default") %>
<% end %>