<div class="row question-list-item pull-left">
  <div class="stats span2 pull-left">
    <div class="votes">
      <%= question.votes_count.humanize %>
      <span class="desc"><%= t("vote", :count => question.votes_count) %></span>
    </div>

    <div class="views">
      <%= question.views.humanize %>
      <span class="desc"><%= t("views", :count => question.views) %></span>
    </div>

    <div class="answers <%=" zero" if question.answers_count == 0 %><%=" answered" if question.answer_id.present? %>">
      <%= question.answers_count %>
      <span class="desc"><%= t("answers", :count => question.answers_count) %></span>
    </div>
  </div>

  <div class="span7 question-cell pull-right">
    <h3><%= link_to(h(question.name), question_path(question.id, question.friendly_id))%></h3>

    <span class="user">
      <% unless controller.controller_name == "users" %>
        <%= link_to image_for(question.user, :tiny), user_path(question.user) %>
        <%= link_to question.user.login, user_path(question.user) %> &middot; <%= question.user_reputation %>
        &middot; 
      <% end -%>
      <%= t "datetime.distance", :distance => distance_of_time_in_words_to_now(question.created_at) %>
    </span>
    <% if question.tags.present? %>
      <div class="tags">
        <% question.tags.each do |tag| -%>
          <%= link_to(h(tag.name), questions_path(:tag => tag.name), :class => "btn btn-small") %>
        <% end -%>
    </div>
    <% end -%>
  </div>
</div>