<div class="question-list">
  <div class="stats">
    <div class="votes">
      <%=question.votes.length %>
      <span class="desc"><%= "Vote".correctize_plural(question.votes.length) %></span>
    </div>

    <div class="views">
      <%=question.views.humanize %>
      <span class="desc"><%= "View".correctize_plural(question.views) %></span>
    </div>

    <div class="answers">
      <%=question.answers_count %>
      <span class="desc"><%= "Answer".correctize_plural(question.answers_count) %></span>
    </div>

  </div>
  <div class="body">
    <h3><%= link_to(h(question.name), question_path(question)) %>
      <span class="user"><%= image_tag question.user.avatar.url(:thumb) %><br /><%= question.user.login %><br /><%= distance_of_time_in_words_to_now question.created_at %> ago</span></h3>
    <% if question.tags.present? %>
      <div class="tags">
        <% question.tags.each do |tag| -%>
          <%= link_to(h(tag), :controller => "questions", :action => "index", :tag => tag.name)%>
        <% end -%>
      <% end -%>
    </div>
    </div>
  <br style="clear: both">
  </div>
