<% if current_user && question.tag_list %>
 <div class="question-list<%=" highlight-question" if (current_user.interesting_tag_list & question.tag_list).length > 0 %><%=" fade-question" if (current_user.uninteresting_tag_list & question.tag_list).length > 0 %>">
<% else %>
  <div class="question-list">
<% end -%>
  <div class="stats">
    <div class="votes">
      <%=question.votes.length == 0? 0 : Vote.count_on("Question", question.id) %>
      <span class="desc"><%= "Vote".correctize_plural(question.votes.length) %></span>
    </div>

    <div class="views">
      <%=question.views.humanize %>
      <span class="desc"><%= "View".correctize_plural(question.views) %></span>
    </div>

    <div class="answers <%=" zero" if question.answers_count == 0 %>">
      <%=question.answers_count %>
      <span class="desc"><%= "Answer".correctize_plural(question.answers_count) %></span>
    </div>

  </div>
  <div class="body">
    <h3><%= link_to(h(question.name), question_path(question)) %></h3>
      <% unless controller.controller_name == "users" %>
      <span class="user">
        <%= link_to image_tag(question.user.avatar.url(:thumb)), user_path(question.user) %><br />
        <%= link_to question.user.login, user_path(question.user) %>
        <br /><%= distance_of_time_in_words_to_now question.created_at %> ago
        </span>
      <% end -%>
      <% if question.tags.present? %>
      <div class="tags">
        <% question.tags.each do |tag| -%>
          <%= link_to(h(tag), :controller => "questions", :action => "index", :tag => tag.name)%>
        <% end -%>
        </div>
      <% end -%>
      
    </div>
    <br style="clear: both">
  </div>
