<h2 class="question-header"><%=link_to(h(question.name), question_path(question)) %></h2>
<div class="question">
  <div class="stats">
    <div class="votes">
      <%= link_to_remote "&nbsp;", 
                         :url => vote_path(
                         :model => "question",
                         :direction => "up",
                         :dom_id => "question_#{question.id}",
                         :id => question.id),
                         :method => "put",
                         :html => {:class => "up"} -%>                       
      <div class="value" id="<%="question_#{question.id}"%>"><%=question.votes.length==0? 0 : Vote.count_on("Question", question.id)%></div>
      <%= link_to_remote "&nbsp;",
                         :url => vote_path(
                         :model => "question",
                         :direction => "down",
                         :dom_id => "question_#{question.id}",
                         :id => question.id),
                         :method => "put",
                         :html => {:class => "down"}   -%>   
    </div>
  </div>
  <div class="body">
    <%= Sanitize.clean(BlueCloth.new(question.body).to_html,
        :elements => ['br','strong','ul','ol','blockquote','li','a','h1','h2','h3','p','span','pre','code','div','img'], 
        :attributes =>{
          'a' => ['href','title'],
          'img' => ['src','title','alt']
        })  %>
    <span class="user"><%= link_to image_tag(question.user.avatar.url(:thumb), :align => "left"), user_path(question.user) %><%= link_to question.user.login, user_path(question.user) %><br /><%= distance_of_time_in_words_to_now question.created_at %> ago
   </span>
   <div class="tags">
     <%question.tags.each do |tag| %>
       <%= link_to(h(tag), :controller => "questions", :action => "index", :tag => tag.name)%>
     <% end -%>
   </div>
   <br class="clear" />
     
  </div>
  <br class="clear" />
  <div class="actions">
    <br class="clear" />
     <%= link_to 'Edit Question', edit_question_path(question) if (current_user && current_user == question.user) %>
   </div>
     <div class="comments" id="Question-comments-<%= question.id %>">
      <%= render(:partial => "/comments/list", :locals => {:comments => question.comments, :parent => question}) %>
    </div>
</div>