<div class="header-with-tabs">
  <h2><%=I18n.t(:"questions.latest.header")%><%= raw "<span class='tagged'>##{params[:tag]}</span>" + link_to(I18n.t("remove_tag"), questions_path) unless params[:tag].nil? %></h2>
  <div class="tabs">
    <%=question_submenu(:latest) %>
  </div>
  <br class="clear" />
</div>
<br class="clear" />
<% @questions.each do |question| %>
  <%= render "/questions/question", :question => question %>
<% end -%>
<br class="clear" />
<%= will_paginate @questions %>
<% content_for :sidebar, render("/questions/sidebar/default") %>
<% main_menu :questions  %>