<div class="question-header">
  <h2><%=I18n.t(:"questions.latest.header")%><%="<span class='tagged'>##{params[:tag]}" unless params[:tag].nil? %></h2>
  <div class="tabs">
    <%=submenu(:latest) %>
  </div>
  <br class="clear" />
</div>
<br class="clear" />
<% @questions.each do |question| %>
  <%= render :partial => "/questions/question", :locals => {:question => question} %>
<% end -%>
<br class="clear" />
<%= will_paginate @questions %>
<% content_for :sidebar, render(:partial => "/questions/sidebar/default") %>
<% main_menu :questions  %>