<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>SmartR - question update</title>
    <style type="text/css" media="screen">

      h3{
        color: #738500;
        font-size: 16px;
      }
      a:link,a:visited{
        color: #738500;
      }

      .body-section{
        padding: 5px;
        background: #f4f4f4;
      }
      .object-info{
        padding: 5px;
        color: #000000;
        font-size: 11px;
        font-weight:bold;
        border-bottom: 3px solid black;
      }
    </style>
  </head>
<body>
  <p><b>Hi <%=h @question.user.login %>!,</b></p>
  <p>a new <%= @object.class.name.downcase %> has just been posted by <b><%=link_to(@object.user.login, "#{Smartr::Settings[:host]}#{url_for(@object.user)}")%></b>
  on your question:</p>

  <h3><%=link_to(@question.name, "#{Smartr::Settings[:host]}#{url_for(@question)}")%></h3>
  <br />
  <div class="object-info">
    <%= @object.class.name %> posted <%= @object.updated_at %> by
    <b><%=link_to(@object.user.login, "#{Smartr::Settings[:host]}#{url_for(@object.user)}")%></b>.
  </div>
  <div class="body-section">
    <%= raw(code(@object.body)) %>
  </div>
</body>
</html>