<%
if user_signed_in?
  vote_value = current_user.vote_value_on(comment)
  upclass = vote_value==1? "up" : "up-neutral"
  downclass = vote_value==-1? "down" : "down-neutral"
else
  upclass = "up-neutral"
  downclass = "down-neutral"
end
%>

<div class="comment-item" id="comment-<%=comment.id%>">
  <div class="inner">
    <div class="user-info"><span class="arrow" id="<%="comment-votes-count-#{comment.id}"%>"><%=comment.votes_count%></span> <span id="comment-votes-<%=comment.id%>"><%=t("votes", :count => comment.votes_count)%></span> &middot;
      <%= link_to raw("&uarr;"),
                       votes_path(
                       :model => "comment",
                       :value => (vote_value==1? "-1" : "1"),
                       :id => comment.id),
                       :method => "post",
                       :remote => true,
                       :class => upclass -%> &middot;
      <%= distance_of_time_in_words_to_now comment.created_at, :include_seconds => true %> &middot;
      <span class="<%="user-#{comment.user.id}-reputation"-%>"><%=comment.user.reputation%></span> &middot;
      <%=link_to comment.user.login, user_path(comment.user)%>
    </div>
    <br class="clear" />
    <%= raw code(auto_link_urls(comment.body,{:target => "_blank"})) %><br class="clear" />
    <%= link_to(t("comment.edit"),
                edit_comment_path(comment),
                :remote => true,
                :class => "comment-edit") if user_signed_in? && current_user == comment.user %>
  </div>
</div>