<% if comments.present? %>
  <h3><%=t("comments.label.other") %></h3>
  <%=comments_order_menu(session[:comments_order], "#{comments.first.commentable.class.name}-comments-#{comments.first.commentable.id}")%><br class="clear" />
  <a name="<%="#{comments.first.commentable.class.name}-comments-#{comments.first.commentable.id}"%>"></a>
  <% for comment in comments do %>
    <%=render comment -%>
  <% end -%>
<% end -%>
<%= link_to(t("comments.new"), new_comment_path(:comment => { :commentable_type => parent.class.name, 
                                                              :commentable_id => parent.id}),
                                                              :remote => true,
                                                              :class => "comment-new") %>
