<% if comments.present? %>
  <h3>Comments</h3>
  <% for comment in comments do %>
    <div class="comment-item" id="comment-<%=comment.id%>">
      <div class="user-info">
        <%= distance_of_time_in_words_to_now comment.created_at, :include_seconds => true %> ago by <%=link_to comment.user.login, user_path(comment.user)%>
      </div>
      <br class="clear" />
      <%=code(auto_link_urls(comment.body,{:target => "_blank"})) %><br class="clear" />
      <%= link_to_remote("Edit ",
                          :url => edit_comment_path(comment), 
                          :method => :get,
                          :html => {:class => "comment-edit"}) %>
    </div>
  <% end -%>
<% end -%>

<%= link_to_remote("+ Comment",
                    :url => new_comment_path(:commentable_type => parent.class.name,
                                             :commentable_id => parent.id), 
                    :method => :get,
                    :html => {:class => "comment-new"}) %>
