$("#comment-#{@comment.id} .comment-edit").fadeOut();

var html = "
.comment-edit{:style => "display: none"}
  ";
  html += '
  %h3>= t("comments.edit")
  ';
  html += '#{escape_javascript(render("form", :comment => @comment, :url => comment_path(@comment)))}';
  html += '
  %a.cancel{:href => "#", :onclick => "$.gritter.removeAll();$(\'#comment-#{@comment.id} .comment-edit\').fadeIn();$(\'#comment-#{@comment.id} div.comment-edit\').fadeOut(500,function(){$(this).remove();}); return false;"}>= t('cancel')
  ';
  html += "
= succeed "\";" do
  %br.clear/
$("#comment-#{@comment.id} .inner").append(html);
$("#comment-#{@comment.id} div.comment-edit").fadeIn();
