<h2><%=t("devise.sessions.sign_in")%></h2>
<%= devise_error_messages! %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div class="left noborder">
<div class="text_field">
  <%= f.label :login %>
  <%= f.text_field :login %>
  <%= f.error_message_on :login%>
</div>
<div class="text_field">
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.error_message_on :password %>
</div>

<% if devise_mapping.rememberable? -%>
  <div>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
<% end -%>

<div>
  <button type="submit" class="g-button"><%=t("devise.sessions.sign_in")%></button>
</div>
<% end %>
<br />
<%= render "devise/shared/links" %>
</div>
<% main_menu :users %>
