<% title t("devise.sessions.sign_in") %>
<% main_menu :users %>
<%= devise_error_messages! %>
<div class="span4">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="well">
      <%= f.text_field :login %>
      <%= f.password_field :password %>
    <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, :label => "Remember me" %>
    <% end -%>
    </div>
    <%= f.button :submit, t("devise.sessions.sign_in") %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>