<h2>Administration</h2>
<% main_menu :admin  %>
<h3>Latest Votes</h3>
<div class="admin">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>Time</th>
      <th>Action</th>
      <th class="right">Points</th>
    </tr>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= distance_of_time_in_words_to_now(vote.updated_at) %><br /><%= vote.updated_at %></td>
        <td><%= link_to image_for(vote.owner, :tiny), admin_user_path(vote.owner) %>
            <%= link_to vote.owner.login, admin_user_path(vote.user)%>
            voted
            <%= link_to image_for(vote.owner, :tiny), admin_user_path(vote.receiver) %>
            <%= link_to vote.owner.login, admin_user_path(vote.receiver)%>'s
            <%= vote.voteable.class %>  <%=direction(vote.value) %>
        </td>
        <td class="right">
          <%= Smartr::Settings[:reputation]["#{vote.type_to_sym}"][vote.direction.to_sym] %></td>
      </tr>
  <% end -%>
  </table>
  <%= will_paginate @votes %>
</div>