<div class="header-with-tabs">
  <h2><%=h @user.login %></h2>
    <div class="tabs">
      <%=show_submenu(:edit) %>
    </div>
    <br class="clear" />
</div>
<% form_for @user, :url => user_path(:id => @current_user.id), :html => { :multipart => true, :class => :user } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>
<% main_menu :users %>
<% content_for :sidebar, render(:partial => "/users/sidebar/user", :locals => {:user => @user}) %>