<div class="header-with-tabs">
  <h2><%= t("users.other").capitalize %></h2>
  <span style="float: right"><%= page_entries_info @questions %></span>
  <div class="tabs">
    <%=user_submenu(:winner) %>
  </div>
  <br class="clear" />
</div>
<div class="user-search">
  <input type="text" class="toggle" title="Enter a username ..." size="25" />
</div>
<br class="clear" />
<div class="user-list">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th>Avatar</th>
      <th>User</th>
      <th class="activity">Latest activity</th>
      <th class="number"><%= t("views.other").capitalize %></th>
      <th class="number"><%= t("users.reputation") %></th>
    </tr>
    <%= render :partial => "list", :locals => {:users => @users}%>
 </table>
 <div class="no-result"><%= t("users.not_found_msg")%></div>
</div>
<br class="clear" />
<%= will_paginate @users%>
<% main_menu :users %>
<% content_for :sidebar, render("/users/sidebar/default") %>
