<% title @user.login  %>
<ul class="pills">
  <%= user_submenu(:reputation) %>
</ul>

<div class="user-header">
  <%= image_tag @user.avatar.url(:medium), :alt => @user.login, :title => @user.login %>
  <p>
    <span><%=@user.questions.count%></span> <%=t(:"questions.label", :count => @user.questions.count) %>,
    <span><%=@user.answers.count %></span> <%=t(:"answers.label", :count => @user.answers.count) %> &
    <span><%=@user.comments.count%></span> <%=t(:"comments.label", :count => @user.comments.count) %>.
  </p>
</div>

<br class="clear" />
<% if @user.questions.size > 0 %>
  <div class="user-questions">
    <h2>Latest Questions</h2>
    <% @user.questions.latest.limit(5).each do |question| %>
      <%= render "question", :question => question %>
    <% end -%>
  </div>
  <br class="clear" />
<% end -%>
<% if @user.answers.latest.size > 0 %>
  <div class="user-questions">
    <h2>Latest Answers</h2>
    <% @user.answers.latest.each do |answer| %>
      <%= render "question", :question => answer.question %>
    <% end -%>
  </div>
<% end -%>

<% main_menu :users %>
<% content_for :sidebar, render("/users/sidebar/user", :user => @user ) %>