<%= image_tag @user.avatar.url(:medium) %>
<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @user.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
</p>


<h2>Questions</h2>
<% @user.questions.each do |question| %>
  <%= render :partial => "/questions/question", :locals => {:question => question} %>
<% end -%>
<h2>Answers</h2>
<% @user.answers.each do |answer| %>
  <%= render :partial => "/questions/question", :locals => {:question => answer.question} %>
<% end -%>
<% main_menu :users%>
<% content_for :sidebar, render(:partial => "show_sidebar", :locals => {:user => @user}) %>

