<div class="user-header">
  <div class="image">
    <%= image_tag @user.avatar.url(:medium) %> 
    <div class="stats">
      <h3>Views</h3>
      <%= @user.views %>
    </div>
    <div class="stats">
      <h3>Reputation</h3>
      <%= @user.reputation.to_s %>
    </div>
  </div>
  <div class="info">
    <h2><%=h @user.login %></h2>
    <h3>Login count:</h3>
        <p>
      <%=h @user.login_count unless @user.login_count.nil? %>
    </p>

      <h3>Last request</h3>
      <p>
      <%=h(distance_of_time_in_words_to_now(@user.last_request_at)) unless @user.last_request_at.nil? %> ago
    </p>

    <p>
      <h3>Last login</h3>
      <%=h(distance_of_time_in_words_to_now(@user.last_login_at)) unless @user.last_login_at.nil? %> ago
    </p>

    
      <h3>Current login</h3>
      <p>
      <%=h(distance_of_time_in_words_to_now(@user.current_login_at)) unless @user.current_login_at.nil? %> ago
    </p>

    <%= link_to 'Edit', edit_user_path(current_user) if current_user && current_user == @user%>
  </div>
  <br class="clear" />
</div>

<% if @user.interesting_tags.length>0 %>
  <h2>Interested in ...</h2>
  <div class="tag-list">
  <% @user.interesting_tag_list.each do |tag| %>
    <%= link_to(h(tag), :controller => "questions", :action => "index", :tag => tag)%>
    <% end -%>
  </div>
<% end -%>
<% if @user.uninteresting_tags.length>0 %>
  <h2>Not interested in ...</h2>
  <div class="tag-list">
  <% @user.uninteresting_tag_list.each do |tag| %>
    <%= link_to(h(tag), :controller => "questions", :action => "index", :tag => tag)%>
    <% end -%>
  </div>
<% end -%>
<h2>Latest Questions</h2>
<% Question.find_all_by_user_id(@user.id, :limit => 5).each do |question| %>
  <%= render :partial => "/questions/question", :locals => {:question => question} %>
<% end -%>
<%# if Answer.find_all_by_user_id(@user.id).count > 0 %>
  <h2>Latest Answers</h2>
  <% Answer.find_all_by_user_id(@user.id, :limit => 5).each do |answer| %>
    <%= render :partial => "/questions/question", :locals => {:question => answer.question} %>
  <% end -%>
<%# end -%>
<% main_menu :users%>
<% content_for :sidebar, render(:partial => "show_sidebar", :locals => {:user => @user}) %>

