<%= render "user_header"%>
<%= user_show_submenu(:detail) %>
<br class="clear" />
<% if @user.latest_questions.size > 0 %>
  <div class="user-questions">
    <h3><%= t("questions.latest_questions") %></h3>
    <% @user.latest_questions.each do |question| %>
      <%= render "question", :question => question %>
    <% end -%>
  </div>
  <br class="clear" />
<% end -%>
<% if @user.latest_answers.size > 0 %>
  <div class="user-questions">
    <h3><%= t("answers.latest_answers") %></h3>
    <% @user.latest_answers.each do |question| %>
      <%= render "question", :question => question %>
    <% end -%>
  </div>
<% end -%>

<% main_menu :users %>
<% content_for :sidebar, render("/users/sidebar/user", :user => @user) %>