<%= render "user_header"%>
<%= user_show_submenu(:detail) %>

<% if @user.latest_questions.size > 0 %>
  <h3><%= t("question.latest") %></h3>
  <table class="table table-striped">
    <% @user.latest_questions.each do |question| %>
      <%= render "question", :question => question %>
    <% end -%>
  </table>
<% end -%>
<%= link_to "View all questions", questions_user_path(@user), :class => "pull-right" %>
<% if @user.latest_answers.size > 0 %>
  <h3><%= t("answer.latest") %></h3>
  <table class="table table-striped">
  <% @user.latest_answers.each do |question| %>
    <%= render "question", :question => question %>
  <% end -%>
  </table>
<% end -%>
<%= link_to "View all answers", "#", :class => "pull-right" %>
<% main_menu :users %>
<% content_for :sidebar, render("/users/sidebar/user", :user => @user) %>