<div class="header-with-tabs">
  <h2><%=h @user.login %></h2>
    <div class="tabs">
      <%=user_show_submenu(:detail) %>
    </div>
    <br class="clear" />
</div>

<div class="user-header">
  <%= image_tag @user.avatar.url(:medium), :alt => @user.login, :title => @user.login %>
  <p>
    <span><%=@user.questions.count%></span> <%=t(:"question.label", :count => @user.questions.count) %>,
    <span><%=@user.answers.count %></span> <%=t("answer.label", :count => @user.answers.count) %> &amp;
    <span><%=@user.comments.count%></span> <%=t(:"comment.label", :count => @user.comments.count) %>.
  </p>
</div>

<br class="clear" />
<% if @user.latest_questions.size > 0 %>
  <div class="user-questions">
    <h2><%= t("questions.latest_questions") %></h2>
    <% @user.latest_questions.each do |question| %>
      <%= render :partial => "question", :locals => { :question => question}  %>
    <% end -%>
  </div>
  <br class="clear" />
<% end -%>
<% if @user.latest_answers.size > 0 %>
  <div class="user-questions">
    <h2><%= t("answers.latest_answers") %></h2>
    <% @user.latest_answers.each do |question| %>
      <%= render :partial => "question", :locals => {:question => question} %>
    <% end -%>
  </div>
<% end -%>

<% main_menu :users %>
<% content_for :sidebar, render(:partial => "/users/sidebar/user", :locals => {:user => @user}) %>