<br class="clear" />
<div class="answer-edit">
  <h2>My Answer</h2>
  <% form_for(answer, :url => answers_path(question), :html => {:method => :post}) do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :question_id, :value => question.id %>
    <%= f.text_area :body, :id => 'wmd-input' , :class => "markdown" %>
    <%= f.hidden_field :body_plain, :class => "plain" %>
    <%= f.submit 'Save', :class => "save" %>
  <% end -%>
</div>