<%= render(:partial => "/questions/question_header", :locals => {:question => question}) if controller.controller_name == "answers"%>
<br class="clear" />
<h2>My Answer</h2>
<div class="answer-edit">
  
  <% form_for(answer, :url => question_answers_path(question, :question_id => question.id)) do |f| %>
    <%= f.error_messages %>
    <div id="wmd-button-bar"></div>
    <%= f.text_area :body, :id => "wmd-input", :class => "markdown" %>
    <%= f.submit 'Save', :class => "save" %>
    <%= f.hidden_field :body_plain, :class => "plain" %>
     
  <% end -%>
<br class="clear" />
<%= link_to "Cancel", question_path(answer.question), :class => "cancel" if controller.controller_name == "answers"%>
     <h3>Live preview</h3>
   <div id="wmd-preview" class="wmd-preview"></div>
</div>