<%= render(:partial => "/questions/question_header", :locals => {:question => question}) if controller.controller_name == "answers"%>
<br class="clear" />
<div class="answer-edit">
  <h2>My Answer</h2>
  <% form_for(answer, :url => question_answers_path(question, :question_id => question.id)) do |f| %>
    <%= f.error_messages %>
    <%= f.text_area :body, :class => "markdown" %>
    <%= f.submit 'Save', :class => "save" %>
    <%= f.hidden_field :body_plain, :class => "plain" %>
     <%= link_to "Cancel", question_path(answer.question) if controller.controller_name == "answers"%>
  <% end -%>
   <br class="clear" />
   <h3>Live preview</h3>
   <div class="wmd-preview"></div>
   <br class="clear" />  
</div>
<% content_for :sidebar, render(:partial => "/answers/sidebar") %>