<%= render(:partial => "/questions/question_header", :locals => {:question => question}) if controller.controller_name == "answers"%>
<br class="clear" />
<h2>My Answer</h2>
<div class="answer-edit">
  
  <% form_for(answer, :url => question_answers_path(question, :question_id => question.id)) do |f| %>
    <div id="wmd-button-bar"></div>
    <div class="<%="error" if f.error_message_on(:body).present? %>">
    <%= f.text_area :body, :id => "wmd-input", :class => "markdown" %>
    <%= f.error_message_on(:body) %>
    </div>
    <%= f.submit 'Save', :class => "save" %>
    <%= f.hidden_field :body_plain, :class => "plain" %>
    <%= link_to "Cancel", question_path(answer.question), :class => "cancel" if controller.controller_name == "answers"%>
    <br class="clear" />
  <% end -%>
<br class="clear" />
</div>
<% main_menu :questions if controller.controller_name == "answers" %>