<div class="answer-item" id="answer_<%=answer.id%>">
  <div class="stats">
    <div class="votes" id="vote-box-<%=answer.id%>">
      <%= render :partial => "/answers/vote_box", :locals => {:answer => answer} %> 
    </div>
    <div class="status">
      <%= render :partial => "/answers/status", :locals => {:answer => answer} %>
    </div>
  </div>
  <div class="body">
    <%= code(answer.body) %>
      <span class="user"><%= link_to( image_tag(answer.user.avatar.url(:tiny)), user_path(answer.user)) %>  &middot; 
      <%= link_to answer.user.login, user_path(answer.user) %> &middot; <%= distance_of_time_in_words_to_now answer.created_at %> ago</span>
      <%= link_to("edit", edit_question_answer_path(:question_id => question.id, :id => answer.id)) if (answer.user == current_user) %>
    </div>
  <br class="clear" />
  <div class="comments" id="Answer-comments-<%= answer.id %>">
      <%= render(:partial => "/comments/list", :locals => {:comments => answer.comments, :parent => answer}) %>
    </div>
</div>
