<%
if user_signed_in?
  vote_value = current_user.vote_value_on(answer)
  upclass = vote_value==1? "up" : "up-neutral"
  downclass = vote_value==-1? "down" : "down-neutral"
else
  upclass = "up-neutral"
  downclass = "down-neutral"
end
%>
<% if vote_value == 1 %>
  <%= link_to raw("&nbsp;"), "javascript:;", :class => upclass %>
<% else %>
  <%= link_to raw("&nbsp;"),
              votes_path(
              :model => "answer",
              :value => "1",
              :dom_id => "votes_#{answer.id}",
              :vote_box_id => "vote-box-#{answer.id}",
              :id => answer.id),
              :method => "post",
              :remote => true,
              :class => upclass -%>
<% end %>

<div class="value" id="<%="answer-votes-count-#{answer.id}"%>"><%=answer.votes_count%></div>
<% if vote_value == -1 %>
  <%= link_to raw("&nbsp;"), "javascript:;", :class => downclass %>
<% else %>
<%= link_to raw("&nbsp;"),
            votes_path(
            :model => "answer",
            :value => "-1",
            :dom_id => "votes_#{answer.id}",
            :vote_box_id => "vote-box-#{answer.id}",
            :id => answer.id),
            :remote => true,
            :method => "post",
            :class => downclass -%>
<% end %>