<%= render :partial => "/questions/question_header", :locals => {:answer => @answer, :question => @question}%>
<br class="clear" />
  <h2>Editing Answer</h2>
<div class="answer-edit">

  <% form_for(@answer, :url => question_answer_path) do |f| %>
    <%= f.error_messages %>
    <%= f.text_area :body, :id => "wmd-input", :class => "markdown" %>
    <%= f.submit 'Save', :class => "save" %>
    <%= f.hidden_field :body_plain, :class => "plain" %>
    
  <% end -%>
  
   <br class="clear" /><%= link_to "Cancel", question_path(@answer.question), :class => "cancel" %>
   
   
   <br class="clear" />
</div>
<% main_menu :questions  %>