<p>
  <b>Body:</b>
  <%=h @answer.body %>
</p>

<p>
  <b>Question:</b>
  <%=h @answer.question_id %>
</p>

<p>
  <b>User:</b>
  <%=h @answer.user_id %>
</p>
<br class="float">
<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>