<% title t("tag.find_tags") %>
<div class="tag-search">
  <%= simple_form_for(:tag, :url => tags_path, :html => {:method => :get}) do |f| %>
    <%= f.input(:q, :value => @q, :placeholder => "Enter a tag ...") %>
    <noscript><%= f.submit "Search", :class => "btn btn-success" %></noscript>
  <% end %>
</div>
<br class="clear" />
<div class="fluid-content row" id="taglist">
 <%= render "list", :tags => @tags %>
</div>
<br class="clear" />
<br class="clear" />
<%= paginate @tags %>
<% main_menu :tags %>
<% content_for :sidebar, render("sidebar")%>