<% title t("tag.find_tags") %>
<div class="tag-search">
  <%= form_for("tags", :url => tags_path, :html => {:method => "get"}) do |f| %>
    <%= f.text_field(:q, :value => @q, :hint => "Search ...", :class => "toggle") %>
    <%= f.submit "Search", :class => "btn" %>
  <% end %>
</div>
<br class="clear" />
<div class="tag-list">
 <%= render "list", :tags => @tags %>
</div>
<br class="clear" />
<br class="clear" />
<%= paginate @tags %>
<% main_menu :tags %>
<% content_for :sidebar, render("sidebar")%>