<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= csrf_meta_tag %>
  <title><%= yield :title %>SmartR - be a smartass!</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "/javascripts/highlight/styles/vs.css" %>
  <style type="text/css" media="screen">
    @-webkit-keyframes redPulse {
      from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
      50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
      to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
    }
  </style>
  <link rel="alternate" type="application/rss+xml" title="SmartR - latest questions" href="http://<%=current_url%>/questions.xml" />
</head>
<body>
  <div id="user">
    <div class="inner">
      <%= render 'users/menu/registration_items' %> |
      <%= render 'users/menu/login_items' %>
    </div>
  </div>
  <div id="topwrapper">
    
  </div>
  <div id="wrapper">
    <div id="header">
      <h1><%= link_to("SmartR", root_url) %></h1>
          <br class="clear" />
      <div id="menu">
        <br class="clear" />
        <%= yield :main_menu %>
        <%= form_for(:question, :url => search_questions_path, :html => {:method => :get}) do |f| %>
            <%= f.text_field(:searchstring, :value => @searchstring, :title => t('searchstring_default'), :class => "toggle") %>
            <%#= f.submit "Search" %>
          <% end -%>
      </div>
    </div>
    <div id="content">
      <div id="ajax-search" style="display: none"></div>
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <%= yield  %>
    </div>
    <div id="sidebar">
      <%= yield :facets %>
      <%= yield :sidebar%>
      <br class="clear" />
    </div>
    <br class="clear" />
    <div id="footer">
      <%= pluralize User.online.count, "user"%> currently logged in. <%=Smartr::Settings[:copyright]%>
    </div>
  </div>
  <%= javascript_include_tag "highlight/highlight" %>
  <% Smartr::Settings[:syntax_highlighting][:languages].split(/,/).each do |lang| %>
    <%= javascript_include_tag "highlight/languages/#{lang.strip}" %>
  <% end -%>
  <%= javascript_include_tag "jquery",
                             "jquery-ui",
                             "rails",
                             "wmd/jquery.wmd.min",
                             "wmd/showdown",
                             "jquery-autocomplete/jquery.autocomplete.pack",
                             "highlight/highlight",
                             "jquery.textarea",
                             "jquery.toggle-value",
                             "jquery.gritter.min",
                             "application", :cache => true %>

  </body>
</html>
<% title "SmartR - be a smartass!" %>