<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= csrf_meta_tag %>
  <title><%= yield :html_title %> | SmartR - be a smartass!</title>
  <%= stylesheet_link_tag "application" %>
  <style type="text/css" media="screen">
    @-webkit-keyframes redPulse {
      from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #e9e9e9; }
      50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #57A957; }
      to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #e9e9e9; }
    }
  </style>
  <!--<link rel="alternate" type="application/rss+xml" title="SmartR - latest questions" href="#" />-->
</head>
<body>

  <div class="navbar navbar-fixed-top" data-scrollspy="scrollspy">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to("SmartR", root_url, :class => "brand") %>
          <%= yield :main_menu %>
        <%= form_for(:question, :url => search_questions_path, :html => {:method => :get, :class => "form-search navbar-search pull-left"}) do |f| %>
          <%= f.text_field(:searchstring, :value => @searchstring, :title => t('searchstring_default'), :class => "search-query span3", :placeholder => "Search ...") %>
          <%#= f.submit "Search" %>
        <% end -%>
        <div id="profile" class="pull-left">
          <%= render 'users/menu/registration_items' %>
          <%= render 'users/menu/login_items' %>
        </div><!-- profile -->
      </div><!-- container -->
    </div><!-- navbar-inner -->
  </div><!-- navbar -->
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1><%= yield :title %>
        <% if content_for?(:subtitle) %>
          <small><%= yield :subtitle %></small>
          <% end %></h1>
          <%= yield :page_header_infobox if content_for :page_header_infox %>
      </div><!-- page-header -->
      <div class="row">
        <div class="span9">
          <%= content_tag(:div, flash[:error], :class => "alert error") if flash[:error] %>
          <%= content_tag(:div, flash[:notice], :class => "alert success") if flash[:notice] %>
          <%= content_tag(:div, flash[:alert], :class => "alert error") if flash[:alert] %>
          <%= yield %>
        </div>
        <div class="span3 sidebar">
          <%= yield :facets %>
          <%= yield :sidebar%>
        </div>
      </div><!-- row end -->
    </div><!-- content -->
      <footer>
        <p><%= pluralize User.online.count, "user"%> currently logged in. <%=Smartr::Settings[:copyright]%></p>
      </footer>
    </div> <!-- /container -->
  <%= javascript_include_tag "application" %>
                             
  <%#= javascript_include_tag Smartr::Settings[:syntax_highlighting][:languages].split(",").map{ |x| "/javascripts/highlight/languages/#{x.strip}" } %>
  </body>
</html>
