<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>SmartR - be a smartass!</title>
  <%= stylesheet_link_tag "application" %>  
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1><%= link_to "SmartR", root_url %></h1>
      <div id="user">
        <%= pluralize User.logged_in.count, "user" %> currently logged in<br /> 
        <!-- This based on last_request_at, if they were active < 10 minutes they are logged in -->
        <% if !current_user %>
        <%= link_to "Register", new_account_path %> |
        <%= link_to "Log In", new_user_session_path %> |
        <% else %>
        <%= link_to "My Account", account_path %> |
        <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
        <br ><%= current_user.login %>
        <% end %>
      </div>
      <br style="clear: both" />
      <div id="menu">
        <%= yield :main_menu %>
      </div>
    </div>
    <p style="color: green"><%= flash[:notice] %></p>
    <div id="content">
      <%= yield  %>
    </div>
    <div id="sidebar">
      <%= yield :sidebar%>
    </div>
  </div>
  <%= javascript_include_tag :defaults %>
</body>
</html>
