<h2>Sign up</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div class="left">
    <div class="text_field">
      <%= f.label :login %>
      <%= f.text_field :login %>
      <%= f.error_message_on :login%>
    </div>
    <div class="text_field">
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.error_message_on :email %>
    </div>
    <div class="text_field">  
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.error_message_on :password %>
    </div>
    <div class="text_field">  
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <%= f.error_message_on :password_confirmation %>
    </div>
  </div>
  <div class="right">
    <div class="text_field_long">
      <%= f.label :interesting_tag_list %>
      <%= f.text_field :interesting_tag_list%>
    </div>
    <div class="text_field_long">
      <%= f.label :uninteresting_tag_list %>
      <%= f.text_field :uninteresting_tag_list%>
    </div>
    <p><%= f.submit "Sign up" %></p>
  </div>
<% end %>

<% content_for :sidebar, render("users/shared/links") %>
